@model WebApplication1.Models.NewsTBL
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Poor+Story&display=swap">

</head>

@{
	ViewBag.Title = "Update";
}
<h2><p class="custom-font1">수정</h2>
<style>
		.custom-font {
			font-size: 42px;
			font-family: 'Black Han Sans', sans-serif;
		}

		.custom-font2 {
			font-size: 24px;
			font-family: ''Poor Story', cursive;
		}

		.custom-font3 {
			font-size: 20px;
			font-family: 'Black Han Sans', sans-serif;
		}
a {
	color: white; /* 원하는 색상으로 수정하세요 */
}
a:hover {
	color: gray; /* 마우스 오버 시의 색상을 지정하세요 */
}
	</style>
@using (Html.BeginForm("Updatepost", "NewsCRUD", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		<h4>News</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger"})
		@Html.HiddenFor(model => model.NewsNum)
		<div class="form-group">
			@Html.LabelFor(model => model.NewsArea, htmlAttributes: new {
		@class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(Model => Model.NewsArea, new {htmlAttributes = new {
			@class = "form-control" } })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.NewsTitle, htmlAttributes: new {
		@class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextAreaFor(model => model.NewsTitle, new { @class = "form-control1", rows = 3, cols = 80})
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.NewsCont, htmlAttributes: new {
		@class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.TextAreaFor(model => model.NewsCont, new { @class = "form-control2", rows = 15, cols = 160})
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.UserID, htmlAttributes: new {
		@class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.UserID, new {htmlAttributeValue= new {
			@class = "form-control" } })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Save" class="btn btn-primary" />
						<p><a href="@Url.Action("Index", "NewsCRUD")"><p class="btn btn-primary custom-font3">이전으로</a></p>
			</div>
		</div>
	</div>
}